.theme-button button {
    font-size: 18px;
    font-weight: bold;
    color: orangered;
    background-color: navajowhite;
    border: none;
    text-align: center;
    border-radius: 25px;
    padding: 4px 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .theme-button button {
        font-size: 16px;
        padding: 3px 6px;
    }
}

@media (max-width: 480px) {
    .theme-button button {
        font-size: 14px;
        padding: 2px 5px;
    }
}