.header-search-page h1 {
    padding-top: 100px;
    text-align: center;
}

.search-your-cocktails h2, .filter-your-cocktails h2 {
    background-color: navajowhite;
    text-decoration: underline;
    font-size: 60px;
    color: orangered;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.searchBar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    gap: 40px;
}

.searchBar-container input {
    background-color: navajowhite;
    color: orangered;
    width: 250px;
    height: 50px;
    border-radius: 30px 0 0 30px;
    padding-left: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}

.searchBar-container button {
    background-color: orangered;
    color: navajowhite;
    width: 250px;
    height: auto;
    border-radius: 30px;
    margin-top: 20px;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.searchBar-container button:hover {
    cursor: pointer;
    background-color: navajowhite;
    color: orangered;
    font-weight: bold;
    border: 2px solid orangered;
    border-left: none;
}

.alcoholic-buttons, .filter-options-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 200px;
    /*height: 100%;*/
    padding: 40px;
    height: auto;
}

.filter-options-container button {
    height: auto;
}

.alcoholic-buttons button:hover, .filter-options-container button:hover {
    cursor: pointer;
    background-color: orangered;
    color: navajowhite;
    height: auto;
}

.filter-option select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: navajowhite;
    color: orangered;
    border-radius: 30px;
    height: auto;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid orangered;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    text-align-last: center;
}

.filter-option select:hover {
    background-color: orangered;
    color: navajowhite;
    box-shadow: 2px 2px 8px 2px gray;
}
.filter-option select option {
    text-align: left;
}

.filter-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 350px;
    gap: 30px;
    height: auto;
}

.filter-option button {
    height: auto;
    width: auto;
}

.search-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.search-option input {
    background-color: navajowhite;
    color: orangered;
    border-radius: 25px;
    height: 50px;
    /*padding: 5px 10px;*/
    border: 2px solid orangered;
}

.search-option input::placeholder {
    color: orangered;
}

.filter-option input::placeholder {
    color: navajowhite;
}

.alcoholic-buttons button, .filter-options-container button {
    width: 350px;
    height: auto;
    font-size: 30px;
    color: orangered;
    background-color: navajowhite;
    border-radius: 30px;
    border: 2px solid orangered;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 4px 6px;
}

.main-opening-search-page-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.cocktail-gif-search-page img {
    width: 350px;
    height: 350px;
    border-radius: 35%;
}

@media (max-width: 1024px) {
    .filter-options-container {
        gap: 20px;
    }

    .search-your-cocktails h2 {
        font-size: 50px;
        padding: 30px 0;
    }

    .searchBar-container {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .searchBar-container input,
    .searchBar-container button {
        width: 80%;
        margin: 10px 0;
    }

    .alcoholic-buttons {
        gap: 80px;
        padding: 20px;
    }

    .alcoholic-buttons button {
        width: 250px;
        font-size: 22px;
    }

    .filter-option select,
    .filter-option input {
        width: 100%;
    }

    .filter-option button {
        width: 250px;
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .search-your-cocktails h2 {
        font-size: 40px;
        padding: 30px 0;
    }

    .searchBar-container {
        flex-direction: column;
        padding-bottom: 20px;
    }

    .searchBar-container input,
    .searchBar-container button {
        width: 100%;
        margin: 10px 0;
    }

    .alcoholic-buttons {
        gap: 50px;
        padding: 20px;
    }

    .alcoholic-buttons button {
        width: 200px;
        font-size: 18px;
    }

    .filter-option select,
    .filter-option input {
        width: 100%;
    }

    .filter-option button {
        width: 250px;
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .search-your-cocktails h2 {
        font-size: 30px;
        padding: 20px 0;
    }

    .searchBar-container input,
    .searchBar-container button {
        width: 100%;
        font-size: 18px;
        height: 45px;
    }

    .alcoholic-buttons {
        gap: 20px;
        padding: 15px;
    }

    .alcoholic-buttons button {
        width: 180px;
        font-size: 16px;
    }

    .filter-option select,
    .filter-option input {
        width: 100%;
    }

    .filter-option button {
        width: 230px;
        font-size: 22px;
    }
}