@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playwrite+DE+Grund:wght@100..400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arima, sans-serif;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

main {
  background-color: navajowhite;
  background-blend-mode: luminosity;
  padding-bottom: 50px;
  width: 100%;
  flex-grow: 2;
}

.header-group-home {
  background-image: url("/src/assets/Images/Cocktails on the beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
  background-position: bottom;
  margin-top: 0;
}

h1 {
  font-size: 60px;
  color: indianred;
}

p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  max-width: 500px;
  margin: 0 auto;
}

a {
  cursor: pointer;
  color: orangered;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: orangered;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: blueviolet;
  width: 100%;
  height: 80px;
  color: white;
}

footer p {
  padding-right: 25px;
}

@media (max-width: 1024px) {
  .header-group-home {
    height: 500px;
    background-position: center;
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }

  p {
    font-size: 18px;
    max-width: 70%;
  }

  a {
    font-size: 28px;
  }

  footer {
    height: 70px;
  }
}

@media (max-width: 768px) {
  .header-group-home {
    height: 450px;
    background-position: center;
    margin-top: 350px;
  }

  h1 {
    font-size: 40px;
    text-align: center;
  }

  p {
    font-size: 16px;
    max-width: 80%;
  }

  a {
    font-size: 25px;
  }

  footer {
    height: 60px;
    justify-content: center;
  }

  footer p {
    padding-right: 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .header-group-home {
    height: 300px;
    background-size: cover;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }

  p {
    font-size: 14px;
    max-width: 90%;
  }

  a {
    font-size: 20px;
  }

  footer {
    height: 50px;
    font-size: 14px;
    justify-content: center;
  }

  footer p {
    text-align: center;
  }
}
