@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Playwrite+DE+Grund:wght@100..400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arima, sans-serif;
  width: 100%;
  margin: 0;
}

main {
  background-color: burlywood;
  background-blend-mode: luminosity;
  padding-bottom: 50px;
  width: 100%;
}

.headerGroupHome {
  background-image: url("/src/assets/Images/Eindopdracht Achtergrondafbeelding voor alle 5 pagina's.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  width: 100%;
  background-position: center bottom;
}

h1 {
  font-size: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
  padding: 50px;
  margin: 0;
}

a {
  cursor: pointer;
  color: darkred;
  font-size: 20px;
  font-weight: Bold;
}

a:hover {
  text-decoration: underline;
  color: orangered;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: blue;
  width: 100%;
  height: 80px;
  color: white;
}

footer p {
  padding-right: 25px;
}