.modalStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modalContentStyle {
    background-color: burlywood;
    padding: 20px 0 80px 60px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 400px;
}

.modalContentStyle button {
    background-color: navajowhite;
    color: orangered;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.ModalInputStyle input {
    height: 40px;
    width: 300px;
    border-radius: 20px;
    background-color: navajowhite;
    color: orangered;
    font-size: 23px;
    padding-left: 10px;
    border-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.RegisterPage {
    height: 500px;
}