button {
    width: 200px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    margin: 20px 50px;
    border: none;
    text-align: center;
}

.searchPageTile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

.SearchOptionsSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 750px;
    gap: 70px;
    padding-top: 30px;
    /*margin: 50px auto;*/
}

.searchPageTile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
}

.headerSearchPage h1 {
    padding-top: 50px;
}