.quiz-explination-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 25px;
    margin: 40px 300px 80px;
}

.quiz-explination-container h2 {
    color: orangered;
}

.quiz-explination-container p {
    width: 700px;
}

.veel-plezier {
    font-size: 25px;
    color: orangered;
    font-weight: bold;
}

.quiz-container {
    max-width: 650px;
    margin: 0 auto 80px;
    padding: 10px;
    text-align: center;
    background-color: blueviolet;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: auto;
}

h2 {
    color: black;
    font-size: 24px;
    text-align: center;
    padding-bottom: 20px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding-bottom: 20px;
}

.option-button {
    padding: 10px 15px;
    font-size: 18px;
    background-color: white;
    color: black;
    border: 2px solid orangered;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 400px;
}

.option-button:hover {
    background-color: orangered;
    color: white;
}

.option-button.correct {
    background-color: lawngreen;
    color: white;
}

.option-button.wrong {
    background-color: re;
    color: white;
}

.score-section {
    color: orangered;
    font-size: 22px;
}

.restart-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: orangered;
    color: navajowhite;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 30px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.restart-button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: orangered;
    background-color: navajowhite;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .quiz-container {
        max-width: 600px;
        padding: 20px;
    }

    h2 {
        font-size: 22px;
        padding-right: 40px;
    }

    .option-button {
        width: 100%;
        font-size: 17px;
        padding: 12px;
    }

    .restart-button {
        font-size: 15px;
        width: 100%;
        padding: 12px;
    }
}

@media (max-width: 768px) {
    .quiz-container {
        max-width: 500px;
        padding: 20px;
    }

    h2 {
        font-size: 20px;
        padding-right: 30px;

    }

    .option-button {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    .restart-button {
        font-size: 14px;
        width: 100%;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .quiz-container {
        max-width: 90%;
        padding: 15px;
    }

    h2 {
        font-size: 18px;
        padding-right: 20px;
    }

    .option-button {
        width: 100%;
        font-size: 14px;
        padding: 8px;
    }

    .restart-button {
        font-size: 14px;
        width: 100%;
        padding: 10px;
    }
}