.history-outer-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 50px;
    padding: 40px 0;
}

.history-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 1500px;
}

.history-container p {
    max-width: 1200px;
    font-weight: normal;
}

.history-container h2 {
    font-size: 40px;
    color: darkblue;
}