.filter-options {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
    gap: 200px;
    height: 100%;
    padding: 60px 40px;
}

.filter-options button {
    width: 350px;
    height: 50px;
    font-size: 30px;
    color: orangered;
    background-color: navajowhite;
    border-radius: 30px;
    border: none;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filter-options a:hover label {
    background-color: orangered;
    color: navajowhite;
    cursor: pointer;
    box-shadow: 2px 2px 8px 2px gray;
}

.filter-option select {
    background-color: orangered;
    color: navajowhite;
    border-radius: 20px;
    height: 30px;
    padding: 5px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filter-option {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 350px;
    /*border: 2px solid red;*/
    gap: 30px
}

.filter-option input {
    background-color: orangered;
    color: navajowhite;
    border-radius: 20px;
    height: 30px;
    padding: 5px 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.filter-option input::placeholder {
    color: navajowhite;
}

/*.filter-option input:focus {*/
/*    outline: none;*/
/*}*/