.navButton button {
    /*width: 250px;*/
    /*height: 30px;*/
    font-size: 30px;
    font-weight: bold;
    color: orangered;
    background-color: transparent;
    /*border-radius: 30px;*/
    border: none;
    text-align: center;
    text-decoration: underline;
}

.navButton button:hover {
    cursor: pointer;
    color: orangered;
}