.header-all-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 200px 50px 50px 500px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .header-all-pages {
        padding: 160px 0 0 250px;
    }
}

@media (max-width: 768px) {
    .header-all-pages {
        margin: 15px 0 0 auto;
        padding: 120px 20px 50px 60px;
        width: 500px;
    }
}

@media (max-width: 480px) {
    .header-all-pages {
        margin: 15px auto;
        padding: 60px 10px 50px;
        padding-top: 80px;
    }
}