.header-password-reset-page h1 {
    padding: 50px 20px 0 20px;
    color: orangered;
    font-size: 80px;
    text-align: center;
}

.password-reset-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.password-reset-form input {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.password-reset-form input::placeholder {
    color: orangered;
}

.password-reset-form button {
    padding: 10px 20px;
    background-color: navajowhite;
    color: orangered;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid orangered;
    font-size: 16px;
}

.password-reset-form button:hover {
    background-color: orangered;
    color: navajowhite;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.message {
    text-align: center;
    margin-top: 10px;
    color: green;
    font-size: 16px;
}

.password-reset-form label {
    font-size: 24px;
    color: orangered;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1024px) {
    .header-password-reset-page h1 {
        font-size: 60px;
        padding: 20px;
    }

    .password-reset-form {
        max-width: 90%;
    }

    .password-reset-form input {
        font-size: 15px;
    }

    .password-reset-form button {
        font-size: 15px;
    }

    .password-reset-form label {
        font-size: 22px;
    }

    .message {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .header-password-reset-page h1 {
        font-size: 50px;
        padding: 20px;
    }

    .password-reset-form {
        max-width: 90%;
    }

    .password-reset-form input {
        font-size: 14px;
    }

    .password-reset-form button {
        font-size: 14px;
    }

    .password-reset-form label {
        font-size: 20px;
    }

    .message {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .header-password-reset-page h1 {
        font-size: 36px;
        padding: 10px;
    }

    .password-reset-form {
        padding: 10px;
        gap: 15px;
    }

    .password-reset-form input {
        padding: 8px;
        font-size: 12px;
    }

    .password-reset-form button {
        padding: 8px 15px;
        font-size: 12px;
    }

    .password-reset-form label {
        font-size: 18px;
    }

    .message {
        font-size: 12px;
    }
}