.searchBar-container input {
    font-size: 40px;
    height: 50px;
    color: darkblue;
    background-color: navajowhite;
    border-radius: 25px;
    padding-left: 20px;
    border-style: none;
}

.searchBar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 80px 0;
}