.cocktail-list-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 30px;
}

.found-cocktail-list img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.found-cocktail-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 300px;
    border: 2px solid orangered;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 640px;
    padding-top: 20px;
}

.found-cocktail-list h2 {
    font-size: 20px;
    margin-top: 20px;
}

.found-cocktail-list a {
    font-size: 25px;
    text-align: center;
}

.link-and-review {
    padding-top: 20px;
}

.link-and-review textarea {
    height: auto;
    width: 250px;
    font-size: 15px;
    padding: 4px 7px;
    border-radius: 25px;
    background-color: orangered;
    margin-top: 15px;
}

.link-and-review textarea::placeholder {
    color: navajowhite;
}

.link-and-review p {
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
}

@media (max-width: 1024px) {
    .cocktail-list-container {
        gap: 60px;
    }

    .found-cocktail-list {
        width: 270px;
    }

    .found-cocktail-list h2 {
        font-size: 18px;
        margin-top: 30px;
    }

    .found-cocktail-list a {
        font-size: 22px;
    }

    .link-and-review {
        padding-top: 18px;
    }
}

@media (max-width: 768px) {
    .cocktail-list-container {
        gap: 40px;
    }

    .found-cocktail-list {
        width: 250px;
    }

    .found-cocktail-list h2 {
        font-size: 18px;
        margin-top: 50px;
    }

    .found-cocktail-list a {
        font-size: 20px;
    }

    .link-and-review {
        padding-top: 15px;
    }
}

@media (max-width: 480px) {
    .cocktail-list-container {
        gap: 20px;
        padding-top: 20px;
    }

    .found-cocktail-list {
        width: 200px;
    }

    .found-cocktail-list h2 {
        font-size: 16px;
        margin-top: 40px;
    }

    .found-cocktail-list a {
        font-size: 18px;
    }

    .link-and-review {
        padding-top: 10px;
    }
}