.AllCocktailsTile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    gap: 10px;
}

.AllCocktailsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 80px;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 40px;
}

.AllCocktailsTile img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.all-cocktails h2 {
    background-color: navajowhite;
    text-decoration: underline;
    font-size: 60px;
    color: darkblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    margin-top: 40px;
}

.AllCocktailsTile h2 {
    font-size: 25px;
}

.AllCocktailsTile a {
    font-size: 25px;
    text-align: center;
}

@media (max-width: 768px) {
    .AllCocktailsContainer {
        gap: 40px;
    }

    .AllCocktailsTile {
        width: 220px;
    }

    .AllCocktailsTile img {
        width: 180px;
        height: 180px;
    }

    .all-cocktails h2 {
        font-size: 45px;
    }

    .AllCocktailsTile h2 {
        font-size: 20px;
    }

    .AllCocktailsTile a {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .AllCocktailsContainer {
        gap: 20px;
    }

    .AllCocktailsTile {
        width: 180px;
    }

    .AllCocktailsTile img {
        width: 150px;
        height: 150px;
    }

    .all-cocktails h2 {
        font-size: 35px;
    }

    .AllCocktailsTile h2 {
        font-size: 18px;
    }

    .AllCocktailsTile a {
        font-size: 18px;
    }
}