.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
    height: 100px;
    padding: 100px 0 75px 0;
}

.button-container button {
    width: 350px;
    height: 50px;
    font-size: 30px;
    color: orangered;
    background-color: navajowhite;
    border-radius: 30px;
    border: none;
    text-align: center;
}

.button-container a:hover button {
    background-color: orangered;
    color: navajowhite;
    cursor: pointer;
    box-shadow: 2px 2px 8px 2px gray;
}

.LoginRegisterPageHeader h1 {
    padding-top: 50px;
    font-size: 70px;
}
